<div class="links-preview-dialog">
  <div class="links-preview-dialog__bar">
    <strong>Visualizar</strong>
    <button mat-icon-button type="button" (click)="fechar()" aria-label="Fechar visualização">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="links-preview-dialog__stage">
    <div class="links-preview-dialog__phone" role="img" aria-label="Preview em formato de celular">
      <div class="links-preview-dialog__speaker" aria-hidden="true"></div>
      <div class="links-preview-dialog__screen">
        <app-links-public-preview class="clicklink-preview-host--dialog" [model]="data"></app-links-public-preview>
      </div>
    </div>
  </div>
</div>
