<div mat-dialog-title class="dialog-head">
  <div class="dialog-head__copy">
    <strong>Alterar perfil</strong>
    <span>Escolha o novo perfil de {{ data.usuario.nome }}.</span>
  </div>
  <button mat-icon-button type="button" aria-label="Fechar" (click)="cancelar()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="form">
    <app-input-options [control]="perfilControl" label="Novo perfil" placeholder="Selecione o perfil"
      [options]="perfis" labelKey="nome" valueKey="id" [showNull]="true" nullLabel="Selecione o perfil">
    </app-input-options>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button mat-stroked-button type="button" (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" type="button" (click)="salvar()">Salvar</button>
</mat-dialog-actions>
