<div class="w-100">
  <mat-label class="f-s-14 f-w-600 m-b-8 d-block">
    {{ label }} <span *ngIf="isRequired" style="color: #ff110094">*</span>
  </mat-label>

  <mat-form-field appearance="outline" class="w-100">
    <mat-select [formControl]="control" [placeholder]="placeholder" [disabled]="disabled">
      <mat-option *ngIf="showNull" [value]="null" disabled>{{ nullLabel }}</mat-option>
      <mat-option *ngFor="let option of options" [value]="asValue(option)">
        {{ asLabel(option) }}
      </mat-option>
    </mat-select>

    <button
      *ngIf="createLabel"
      mat-icon-button
      matSuffix
      type="button"
      class="input-options__create"
      [attr.aria-label]="createLabel"
      [matTooltip]="createLabel"
      [disabled]="createDisabled"
      (click)="onCreateClick($event)">
      <mat-icon>add</mat-icon>
    </button>

    <mat-error *ngIf="control.invalid && control.touched">
      {{ errorMessage() }}
    </mat-error>
  </mat-form-field>
</div>
  
