<mat-card class="cardWithShadow page-card" [attr.aria-busy]="saving">
  <app-card-header
    [titulo]="titulo"
    [actionDisabled]="headerActionDisabled"
    [subtitulo]="subtitulo"
    [botaoTexto]="botaoTexto"
    [botaoIcone]="botaoIcone"
    [botaoCor]="botaoCor"
    [botaoRota]="botaoRota"
    [helpTexto]="helpTexto"
    [helpIcone]="helpIcone"
    [helpRota]="helpRota"
    [helpFragment]="helpFragment"
    [helpExterno]="helpExterno"
    [permissao]="permissao"
    [mostrarDivisor]="showHeaderDivider">
    <ng-content select="[page-header-actions]"></ng-content>
  </app-card-header>

  <mat-card-content [ngClass]="{'no-padding': !contentPadding}">
    <ng-content></ng-content>
  </mat-card-content>

  <span class="page-card__saving" role="status" *ngIf="saving">{{ savingText }}</span>
  <ng-container *ngIf="showFooter || footerActions.length">
    <mat-divider *ngIf="footerDivider" class="page-card__footer-divider"></mat-divider>
    <mat-card-actions class="page-card__footer">
      <div class="page-card__footer-left">
        <ng-content select="[page-footer-left]"></ng-content>
      </div>
      <div class="page-card__footer-right">
        <ng-content select="[page-footer-right]"></ng-content>
        @for (action of footerActions; track action.id) {
          @if (action.primary) {
            <button mat-flat-button [color]="action.color || 'primary'" [type]="action.type || 'button'"
              [attr.form]="action.form || null" [disabled]="saving || actionsDisabled || action.disabled"
              (click)="onFooterAction(action)">{{ saving && action.pendingLabel ? action.pendingLabel : action.label }}</button>
          } @else {
            <button mat-stroked-button [color]="action.color || null" [type]="action.type || 'button'"
              [attr.form]="action.form || null" [disabled]="saving || actionsDisabled || action.disabled"
              (click)="onFooterAction(action)">{{ saving && action.pendingLabel ? action.pendingLabel : action.label }}</button>
          }
        }
      </div>
    </mat-card-actions>
  </ng-container>
</mat-card>
